## Practica Python + ML

En esta práctica trabajaremos con una versión del dataset conocido como _diamonds_ que nos permitirá trabajar con diferentes técnicas de aprendizaje automático.

---
**Entrega**
- Fecha: X/02/2022
- Tipo: Individual
- Formato: pdf del notebook generado

---

**Tarea a realizar**

- Predecir el precio de los diamantes como una variable continua.
- Predecir el precio de los diamantes en 4 categorías: barato, normal, caro, muy caro
- Predecir el corte de los diamantes.
---

**Observaciones**

La calificación se realizará de la siguiente manera:

- Aplicación de las diversas técnicas trabajadas durante las sesiones de trabajo pres, usando las buenas prácticas de aprendizaje automático: Hasta un notable 7.5.
- Desarrollo del punto anterior y además realizar un análisis de los resultados parciales y de los resultados finales obtenidos: Hasta un 9.
- Desarrollo del punto anterior y aplicación de conceptos de esta asignatura: Hasta un 10.

### Análisis

In [1]:
# Importamos las librerias necesarias
import pandas as pd

In [2]:
# Cargamos los datos y visualizamos como es el dataset

df = pd.read_csv('diamonds.csv', index_col=0) 
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Veamos la dimensionalidad de este conjunto de datos:

In [52]:
print("Observaciones: ", df.shape[0])
print("Características: ", df.shape[1])

Observaciones:  53940
Características:  10

In [47]:
# En primer lugar observemos los tipos de datos que contiene el dataset
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

Vemos que hay algunas columnas categóricas, para transformarlas a enteros podemos usar el siguiente código.

In [5]:
categorias = df["cut"].astype('category')
color = df["color"].astype('category')
claridad  = df["clarity"].astype('category')

In [4]:
categorias.cat.codes

1        2
2        3
3        1
4        3
5        1
        ..
53936    2
53937    1
53938    4
53939    3
53940    2
Length: 53940, dtype: int8

En el siguiente [enlace](https://www.stackvidhya.com/add-column-to-dataframe/) podéis encontrar como añadir una columna

## Tarea

_Put your code here_